<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>My first dynamic Website</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>

<body>
    <main>
        <h1>I have been seen {{ count }} times.</h1>
        <ul>
            {% for i in range(1, count+1) %}
            <li>{{ i }}: Hello {{ name }}! </li>
            {% endfor %}
        </ul>
    </main>
    <nav>
        <a href="/">Home</a> |
        <a href="/titanic">Titanic</a> |
        <a href="https://github.com/MaialenTolosa" target="_blank">About</a>
    </nav>

    <a href="https://www.hwr-berlin.de/en/">HWR Berlin homepage</a>
    <img src="{{ url_for('static', filename='image.jpg.jpg') }}" alt="This is me" width="300">
</body>

<footer>
  <p>Created by Maialen Tolosa with love :)</p>
</footer>

</html>